# Glogal .gitingore

# Eclipse related files
.settings
.classpath
.project

# InteliJ
worskpace.xml
.idea/
*.iml

# Logs
*.log

# Build
target/
dist/

# NPM
node_modules/
npm-debug.log